div{
	box-sizing: border-box;
	display: block;
}

p:hover {
	color: red;
}

.ui-main{
	margin: auto;
	width: 1200px;
}
.ui-title{
	height: 60px;
    overflow: hidden;
}
.ui-title h2{
	font-size: 18px;
    color: #333;
    margin-top: 32px;
    font-weight: 400;
    float: left;
}
.ui-title span{
	display: block;
    float: left;
    font-size: 20px;
    color: #ccc;
    padding: 28px 0 0 9px;
    font-family: Arial;
}
.ui-jinrong{
	height: 230px;
    width: 1200px;
    display: flex;
}
.ui-jinrong-1{
	width: 420px;
    height: 230px;
    float: left;
    position: relative;
    overflow: hidden;
}
.ui-jinrong-2{
	width: 781px;
    height: 230px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    display: flex;
}
.finance_entrance{
	height: 28px;
    background: #fd585e;
    line-height: 28px;
    color: #fff;
    font-size: 14px;
    padding: 0 13px;
    display: inline-block;
    position: absolute;
    left: 60px;
    bottom: 48px;
    font-weight: 400;
    z-index: 1;
    border-radius: 2px;
}
.finance_entrance a{
	color: #fff;
    display: inline-block;
    height: 21px;
}
.loading1{
	display: block;
	width: 420px;
	height: 230px;
}
.loading2{
	width: 195px;
	height: 230px;
}

.ui-jinrong-2 a{
	width: 195px;
	height: 230px;
	padding: 0;
	margin: 0;
}

.ui-title-change_btn{
	width: 55px;
	height: 60px;
	float: right;
	overflow: hidden;
}
.ui-title-change_btn-pre{
	width: 23px;
    height: 23px;
    display: block;
    margin-top: 30px;
    float: left;
    margin-left: 1px;
    cursor: pointer;
    border: 1px #e6e6e6 solid; 
	-webkit-border-radius: 100px;
	text-align: center;
	line-height: 23px;
}
.ui-title-change_btn-nex{
	width: 23px;
    height: 23px;
    display: block;
    margin-top: 30px;
    float: left;
    margin-left: 3px;
    cursor: pointer;
   	border: 1px #e6e6e6 solid; 
	-webkit-border-radius: 100px; 
	text-align: center;
	line-height: 23px;
}

.ui-guess{
	width: 1200px;
    height: 264px;
    border: 1px solid #eee;
    position: relative;
}
.ui-guess-main{
	width: 1200px;
    height: 264px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    display: block;
}
.ui-guess-main-item{
	width: 200px;
    height: 224px;
    margin-top: 20px;
    float: left;
}
.ui-guess-main-item-img{
	display: block;
    margin-left: 40px;
    width: 120px;
    height: 120px;
}
.ui-guess-main-item-title{
	width: 167px;
    height: 36px;
    overflow: hidden;
    margin: 32px 0 0 20px;
    color: #5e5e5e;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
}
.ui-guess-main-item-price{
	color: #e3101e;
    line-height: 16px;
    height: 16px;
    margin: 8px 0 0 20px;
    font-size: 16px;
    font-family: "Arial "\9;
    font-family: Arial,"Microsoft Yahei";
}

.ui-main-under{
    margin-top: 20px;
	width: 100%;
    height: 461px;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
}
.wbox {
   width:  1200px; 
   margin: auto;
   display: flex;
}
.ui-under-left{
	width: 495px;
	height: 431px;
    overflow: hidden;
	display: flex;
}
.ui-under-right{
	width: 720px;
    height: 431px;
    overflow: hidden;
    display: flex;
    margin-left: 10px;

}
.ui-under-left-1{
    margin-right: 4 px;
	float: left;
    width: 294px;
    height: 431px;
}
.ui-under-left-2{
	float: left;
    width: 201px;
    height: 431px;
    padding-top: 30px;
    margin-left: 0.5px;
}
.ui-under-left-1-img{
	display: block;
    width: 294px;
    height: 317px;
    padding-top: 30px;
    position: relative;
}
#ui-under-left-1-img1{
	width: 294px;
	height: 287px;
}
.ui-under-left-1-img-title{
	display: block;
    width: 294px;
    height: 40px;
    background: rgba(0,0,0,.5);
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
}
.ui-under-left-1-img-title span{
	display: inline-block;
    max-width: 56px;
    height: 19px;
    font-size: 14px;
    color: #fff;
    padding: 0 5px;
    line-height: 19px;
    border: 1px solid #fff;
    border-radius: 2px;
    margin: 10px 10px 0 15px;
    float: left;
    overflow: hidden;
}
.ui-under-left-1-img-title b{
	color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: -10px;
    line-height: 40px;
    margin-right: 15px;
    overflow: hidden;
}
.ui-under-left-1-channel{
	background: #ff8c65;
	width: 279px;
    height: 35px;
    line-height: 35px;
    margin: 0;
    padding-left: 15px;
    overflow: hidden;
    box-sizing: content-box;
}
.ui-under-left-1-channel li{
	display: list-item;
    text-align: -webkit-match-parent;
    width: 264px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}
.ui-under-left-1-channel-a{
	height: 23px;
	display: inline-block;
    font-size: 14px;
    color: #f0f0f0;
    float: left;
    text-decoration: none;
}
.ui-under-left-1-channel span{
	padding: 0 5px;
	display: inline-block;
    font-size: 14px;
    color: #f0f0f0;
    float: left;
}
.ui-under-left-1-word{
	width: 294px;
    height: 79px;
	background: #ffa47f;
}
.ui-under-left-1-word-item{
	width: 279px;
    height: 48px;
    margin: 0;
    padding: 0;
    padding-top: 17px;
    overflow: hidden;
    box-sizing: content-box;
}
.ui-under-left-1-word-item li{
	float: left;
    padding-left: 15px;
    line-height: 22px;
    height: 22px;
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
}
.ui-under-left-1-word-item-a{
	color: #fff;
    font-size: 12px;
    display: inline-block;
    height: 17px;
    overflow: hidden;
	text-decoration: none;
}
.ui-under-left-2-img1{
	float: left;
    width: 200px;
    height: 200px;
}
.ui-under-left-2-img2{
	float: left;
    width: 200px;
    height: 200px;
    margin-top: 0.5px;
}
.ui-under-left-2-img1-title{
	top: -140px;
    z-index: 1;
    width: 200px;
    height: 61px;
    overflow: hidden;
    position: relative;
    left: 0;
}
.ui-under-left-2 a{
	text-align: center;
	text-decoration: none;
}
.ui-under-left-2 span{
	display: inline-block;
    padding: 0 10px;
    height: 28px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 2px;
    font-size: 16px;
    line-height: 28px;
}
.ui-under-left-2 b{
	display: block;
    font-size: 16px;
    color: #fff;
    line-height: 38px;
    width: 166px;
    margin: 0 auto;
    font-weight: bold;

}
#channel2{
	background-color: #3abe8f;
}
#word2{
	background-color: #62c8a3;
}
.ui-under-right-2{
	width: 410px;
	height: 431px;
    float: left;
    padding-top: 30px;
    display: flex;
	flex-wrap: wrap;
}
.ui-under-right-2-img{
	float: left;
    width: 201px;
    height: 201px;
}
.ui-under-right-2-img a{
	text-align: left;
    border-bottom: 1px solid #b1b1b1;
    border-left: 1px solid #b1b1b1;
    display: block;
    width: 200px;
    height: 200px;
}
.ui-under-right-2-img p{
	width: 180px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    padding: 0 10px;
    position: relative;
    left: 0;
    top: -35px;
    background: rgba(0,0,0,.5);
    display: inline-block;
    margin: 0;
    box-sizing: content-box;
}

.ui-hot{
	width: 1200px;
	height: 400px;
	margin: auto;
	margin-top: 20px;
}
.ui-hot-left{
	width: 830px;
	height: 400px;
    float: left;
}
.ui-hot-right{
	width: 361px;
    height: 400px;
    float: right;
    overflow: hidden;
}
.ui-hot-left-main{
	width: 830px;
	height: 340px;
	border: 1px solid #eee;
	overflow: hidden;
    float: left;
    display: flex;
}
.ui-hot-left-main-item1{
	width: 281px;
	height: 338px;
    overflow: hidden;
    float: left;
}
.ui-hot-left-main-item1 a{
	display: block;
    width: 280px;
    height: 338px;
    border-right: 1px solid #eee;
    float: left;
    position: relative;
    text-decoration: none;
}
.ui-hot-left-main-item1-no_1{
	display: block;
    width: 72px;
    height: 72px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.ui-hot-left-main-item1-img{
	width: 210px;
	height: 210px;
	margin: 35px;
}
.ui-hot-left-main-item1-title{
	margin-left: 20px;
    line-height: 24px;
    font-size: 16px;
    width: 240px;
    height: 24px;
    overflow: hidden;
    color: #404040;
    margin: 0;
    padding: 0;
}
.ui-hot-left-main-item1-price{
	margin-left: 20px;
    line-height: 24px;
    font-size: 16px;
    width: 240px;
    height: 24px;
    overflow: hidden;
    color: #e3101e;
    font-family: Arial,"Microsoft Yahei";
    margin: 0;
    padding: 0;
    text-align: center;
}
.ui-hot-left-list{
	width: 547px;
	height: 340px;
	float: left;
}
.ui-hot-left-list ul{
	width: 548px;
    height: 338px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}
.ui-hot-left-list li{
	width: 274px;
    height: 170px;
    float: left;
    margin: 0;
    padding: 0;
    display: list-item;
    text-align: -webkit-match-parent;
}
.ui-hot-left-list ul a{
	display: block;
    width: 274px;
    height: 168px;
    border-right: 1px dashed #eee;
    border-bottom: 1px dashed #eee;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}
#hot2{
	display: block;
    width: 120px;
    height: 120px;
    float: left;
    margin: 25px 10px 0;
    vertical-align: middle;
}
.ui-hot-left-list-title{
	font-size: 13px;
    line-height: 20px;
    color: #5e5e5e;
    height: 40px;
    width: 120px;
    overflow: hidden;
    padding-top: 29px;
    margin: 0;
    display: block;
    box-sizing: content-box;
}
.ui-hot-left-list-price{
	line-height: 14px;
    overflow: hidden;
    margin-top: 8px;
    font-size: 14px;
    color: #e3101e;
    height: 14px;
    width: 120px;
    font-family: Arial,"Microsoft Yahei";
}
.ui-hot-right-shai{
	width: 359px;
    height: 338px;
    border: 1px solid #eee;
    position: relative;
}
.ui-hot-right-shai ul{
	height: 338px;
    width: 360px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}
.ui-hot-right-shai li{
	width: 180px;
    height: 298px;
    margin-top: 20px;
    float: left;
    display: list-item;
    text-align: -webkit-match-parent;
}
.ui-hot-right-shai-main{
	width: 179px;
    height: 298px;
    border-right: 1px dashed #eee;
}
.shaiimg{
	display: block;
    width: 140px;
    height: 140px;
    margin-left: 20px;
    border: none;
    vertical-align: middle;
}
.ui-hot-right-shai-user{
	width: 140px;
    height: 33px;
    margin: 24px 0 0 20px;
    overflow: hidden;
}
.ui-hot-right-shai-user-img{
	display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    float: left;
    margin-right: 5px;
    border: none;
    vertical-align: middle;
}
.ui-hot-right-shai-user span{
	display: inline-block;
    padding: 0 4px;
    height: 13px;
    border-radius: 2px;
    border: 1px solid #e3101e;
    color: #e3101e;
    line-height: 14px;
    font-size: 80%;
    font-weight: bold;
    font-family: Arial,"Microsoft Yahei";
}
.ui-hot-right-shai-user p{
	font-size: 12px;
    height: 12px;
    line-height: 14px;
    color: #999;
    padding-top: 2px;
    margin: 0;
    padding: 0;
}
.ui-hot-right-shai-main-evaluate{
	height: 101px;
    width: 140px;
    margin-left: 20px;
    margin-top: 20px;
}
.ui-hot-right-shai-main-evaluate a{
	text-decoration: none;
}
.ui-hot-right-shai-main-evaluate-p{
	padding: 12px 10px;
    width: 120px;
    height: 60px;
    background: #f8f8f8;
    font-size: 12px;
    line-height: 20px;
    color: #5e5e5e;
    margin: 0;
}