div{
	box-sizing: border-box;
	margin: 0 auto;
}

.gome-top{
	width: 100%;
	height: 31px;
	background: rgb(248,248,248);
	padding: 0;
	border-bottom: 1px solid #e6e6e6;
}
.gome-top-bar{
	width: 1200px;
	height: 31px;
	background: transparent;
	padding: 0;
}
ul{
    list-style:none;
    margin: 0;
    padding: 0;
}
.gome-top-bar ul li{
	display: list-item;
	float: left;
    position: relative;
    font: 400 12px/30px Arial,Simsun;
    text-decoration: none;
}
.gome-top-bar ul .entry{
    margin: 0 10px 0 0;
    width: 70px;
    height: 30px;
    background: transparent;
}
.gome-top-bar ul .entry a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    color: #5e5e5e;
    text-decoration: none;
}
.gome-top-bar ul .entry a .logo-small{
    width: 16px;
    height: 16px;
    background: url(../img/ui.png) 0 -1359px no-repeat;
}
.gome-top-bar ul .entry a:hover span{
    color: #c00;
}
.gome-top-bar ul .space{
	width: 1px;
	height: 11px;
	margin-top: 10px;
	background: #e6e6e6;
}
.gome-top-bar ul .user{
	width: 80px;
	height: 30px;
	margin-right: 12px;
	background: transparent;
}
.gome-top-bar ul .user .user-box{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    color: #888;
    text-decoration: none;
}
.fa-angle-down{
	display: inline;
}
.fa-angle-up{
	display: none;
}
.gome-top-bar ul .user:hover .user-box{
	color: #c00;
}
.gome-top-bar ul .user:hover .user-box .fa-angle-down{
	display: none;
	color: #888;
}
.gome-top-bar ul .user:hover .user-box .fa-angle-up{
	display: inline;
	color: #888;
}
.user-dropdown{
	width: 322px;
	height: 216px;
	background:white;
	padding: 10px 15px;
	display: none;
	position: absolute;
	z-index: 15;
	border: 1px solid #e6e6e6;
	top: 30px;
}
.user-name{
	width: 290px;
	height: 80px;
	padding: 5px 0 20px;
	background: transparent;
	display: flex;
	border-bottom: 1px solid #e6e6e6;
}
.user-name-pic{
	width: 55px;
	height: 55px;
	background: url(../img/ui.png) 0px -337px no-repeat;
}
.user-name-word{
	height: 36px;
	float: left;
    font: 400 12px/20px Arial,Simsun;
    padding: 0 0 0 15px;
    width: 235px;
}
.user-name-word p{
	color: #888;
    width: 100%;
    line-height: 16px;
    overflow: hidden;
    padding-top: 20px;
}
.user-name-word p a{
	display: inline;
	color: #069;
	text-decoration: none;
}
.user:hover .user-dropdown{
	display: block;
}
.user:hover .user-box{
	background:white;
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	box-shadow: 0 1px 0 0 white;
	z-index: 1112;
}
.user-icon{
	width: 290px;
	height: 114px;
	border-top: 1px solid #f3f3f3;
    padding-top: 15px;
    position: relative;
}
.user-icon span{
	width:290px;
	height: 18px;
	display: flex;
	justify-content: space-between;
	line-height: 18px;
}
.user-icon span p{
	color: #5E5E5E;
	margin:0;
}
.user-icon span a{
	color: #ccc;
	text-decoration: none;
}
.user-icon span a:hover{
	color: #c00;
	text-decoration: none;
}
.user-icon-prev{
	position: absolute;
	display: inline-block;
    top: 54px;
    width: 16px;
    height: 29px;
    cursor: pointer;
	background: url(../img/ui.png) -60px -357px no-repeat;
	left:0;
	z-index: 13;
}
.user-icon-prev:hover{
	background-position: -60px -513px;
}
.user-icon-next{
	position: absolute;
    top: 54px;
    width: 16px;
    height: 29px;
    cursor: pointer;
    display: inline-block;
	background: url(../img/ui.png) -76px -357px no-repeat;
	right: 0;
	z-index: 13;
}
.user-icon-next:hover{
	background-position: -76px -513px;
}
.rollintro{
	width: 240px;
	height: 70px;
	margin: 10px 25px 0;
	z-index: 12;
	overflow: hidden;
}
.rollintro ul{
	width: 720px;
	height: 70px;
	position: relative;
	left:0px;
	transition: left 0.5s;
}
.rollintro ul li{
	width: 80px;
	height: 70px;
}
@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot");
  src: url("iconfont.eot?#iefix") format("embedded-opentype"),
  url("iconfont.woff") format("woff"),
  url("iconfont.ttf") format("truetype"),
  url("iconfont.svg#iconfont") format("svg");
}

.iconfont-lh{
  font-family:"iconfont" !important;
  font-size:35px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  /*-webkit-text-stroke-width: 0.2px;*/
  -moz-osx-font-smoothing: grayscale;
}
.rollintro ul li a{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	align-self: center;
	flex-wrap: wrap;
	color: #999;
}
.rollintro ul li a:hover i{
	opacity: 1;
}
.rollintro ul li a:hover {
	text-decoration:none;
}
.rollintro ul li a i{
	width: 80px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	align-self: center;
	opacity: .7;
}
.login{
	width: 68px;
	height: 30px;
	background:transparent;
}
.login a{
	margin-right: 8px;
    text-decoration: none;
    color: #888;
    display: inline;
}
.login a:hover{
    color: #c00;
}
.top-right{
	float: right;
}
.top-right li{
	float: left;
}
.top-right .myorder{
	width: 58px;
	height: 30px;
}
.top-right .myorder a{
	color: #888;
	line-height: 32px;
}
.top-right .myorder a:hover{
	color: #c00;
	text-decoration: none;
}
.top-right .mygome{
	width: 80px;
	height: 31px;
}
.mygome .mygome-box{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    color: #888;
    text-decoration: none;
    line-height: 32px;
}
.mygome:hover .mygome-box{
	color: #c00;
}
.mygome:hover .mygome-box .fa-angle-down{
	display: none;
	color: #888;
}
.mygome:hover .mygome-box .fa-angle-up{
	display: inline;
	color: #888;
}
.mygome-dropdown{
	width: 262px;
	height: 275px;
	background:white;
	display: none;
	position: absolute;
	z-index: 11;
	border: 1px solid #e6e6e6;
	top: 30px;
}
.mygome:hover .mygome-box{
	background:white;
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	box-shadow: 0 1px 0 0 white;
	z-index: 1112;
}
.mygome:hover .mygome-dropdown{
	display: block;
}
.mygome-dropdown strong{
    font: 12px/24px Arial,Simsun;
    color: #888;
    display: block;
    font-weight: 700;
    padding: 10px 10px 0;
    text-decoration: none;
}
.mygome-dropdown strong a{
	color: #069;
}
.mygome-dropdown strong a:hover{
	text-decoration: none;
}
.mygome-order{
	padding: 0 0 9px;
    margin: 0 10px;
    border-bottom: 1px solid #f3f3f3;
    height: 60px;
}
.mygome-order li{
	float: left;
    width: 50%;
    line-height: 25px;
    height: 25px;
    font: 400 12px/30px Arial,Simsun;
}
.mygome-order li a{
    color: #888;
    text-decoration: none;
}
.mygome-order li a:hover{
	color: #c00;
}
.mygome-coupon{
	padding-left: 4px;
}
.mygome-coupon li{
    float: left;
    width: 63px;
    height: 67px;
    text-align: center;
    padding: 8px 0 10px;
}
.mygome-coupon li a{
	display: block;
    line-height: 14px;
    margin: 5px 0;
    border-right: 1px solid #f3f3f3;
    text-decoration: none;
    color: #888;
}
.mygome-coupon li:last-child a{
	border:none;
}
.mygome-coupon li:hover a{
	color: #c00;
}
.mygome-coupon li div{
	display: inline-block;
    vertical-align: middle;
    color: #cdcdcd;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 24px;
    margin: 0;
}
.mygome-dropdown p{
	clear: both;
    background: #f8f8f8;
    padding: 10px;
    overflow: hidden;
    margin:0;
    font: 12px/24px Arial,Simsun;
    color: #888;
}
#mygome-track{
	background: #f8f8f8;
    padding: 0 0 18px 10px;
    height: 68px;
    overflow: hidden;
}
#mygome-track li{
	float: left;
    width: 50px;
    height: 50px;
    margin: 0 12px 10px 0;
    background: url(../img/ui.png) 0 -397px;
}
.comp{
	width: 68px;
	height: 30px;
}
.comp a{
	color: #888;
	line-height: 32px;
	margin: 10px;
	margin-top: 0px;
}
.top-right .comp a:hover{
	color: #c00;
	text-decoration: none;
}
.serve{
	width: 103px;
	height: 31px;
}
.serve .serve-box{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    color: #888;
    text-decoration: none;
    line-height: 32px;
}
.serve:hover .serve-box{
	color: #c00;
}
.serve:hover .serve-box .fa-angle-down{
	display: none;
	color: #888;
}
.serve:hover .serve-box .fa-angle-up{
	display: inline;
	color: #888;
}
.serve-dropdown{
	width: 242px;
	height: 215px;
	background:white;
	padding: 10px 15px;
	display: none;
	position: absolute;
	z-index: 11;
	border: 1px solid #e6e6e6;
	top: 30px;
}
.serve:hover .serve-box{
	background:white;
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	box-shadow: 0 1px 0 0 white;
	z-index: 1112;
}
.serve:hover .serve-dropdown{
	display: block;
}
.icon-serve{
	width: 18px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;	
}
.icon-serve .iconfont-lh{
	font-size: 19px;
	color: #e3101e;
}
.serve-dropdown p{
	font: 700 12px/24px Arial,Simsun;
    color: #898989;
    margin:0;
    padding: 0;
}
.serve-dropdown ul li a,.serve-dropdown p a{
	color: #888;
	text-decoration: none;
}
.serve-dropdown ul li a:hover,.serve-dropdown p a:hover{
	color: #c00;
	text-decoration: none;
}
.serve-dropdown ul{
	box-sizing: content-box;
    padding: 0 0 10px;
    height: 48px;
    overflow: hidden;
}
.serve-dropdown ul li{
    float: left;
    font: 12px/24px Arial,Simsun;
    width: 33%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.live-server{
	color: #fff;
    background: #c00;
    text-align: center;
    line-height: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: 400;
    margin-top: 4px;
    text-decoration: none;
    font: 400 12px/30px Arial,Simsun;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.live-server:hover{
	text-decoration: none;
	color: #fff;
}
.live-server .iconfont-lh{
	font-size: 19px;
    height: 25px;
    color: #fff;
    background: 0 0;
}
.sitemap{
	width: 80px;
	height: 31px;
}
.sitemap .sitemap-box{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    color: #888;
    text-decoration: none;
    line-height: 32px;
}
.sitemap:hover .sitemap-box{
	color: #c00;
}
.sitemap:hover .sitemap-box .fa-angle-down{
	display: none;
	color: #888;
}
.sitemap:hover .sitemap-box .fa-angle-up{
	display: inline;
	color: #888;
}
.sitemap-dropdown{
	width: 1200px;
	height: 248px;
	background:white;
	padding: 10px 0px;
	display: none;
	position: absolute;
	z-index: 11;
	border: 1px solid #e6e6e6;
	top: 30px;
	left: -1016px;
}
.sitemap:hover .sitemap-box{
	background:white;
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	box-shadow: 0 1px 0 0 white;
	z-index: 1112;
}
.sitemap:hover .sitemap-dropdown{
	display: block;
	z-index: 1112;
}
dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font: 400 12px/30px Arial,Simsun;
    text-align: -webkit-match-parent;
    color: #5e5e5e;
}
dt {
    display: block;
}

.sitemap-dropdown dl{
	float: left;
    padding: 0 15px 0 40px;
    border-left: 1px solid #f3f3f3;
    margin: 15px 0;
}
.sitemap-dropdown .none{
	border: none;
}
.sitemap-dropdown dl dt{
    font: 700 14px/14px Arial,Simsun;
    margin: 0 0 14px;
    padding: 0;
}
.sitemap-dropdown ul{
	float: left;
    width: 75px;
}
.sitemap-dropdown ul li{
	width: 100%;
	height: 24px;
	float: left;
    position: relative;
    text-align: left;
    font: 12px/24px Arial,Simsun;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
	padding: 0;
}
.sitemap-dropdown ul li a{
	color: #888;
}
.sitemap-dropdown ul li a:hover{
	color: #c00;
    text-decoration: none;
}
.sitemap-dropdown ul li i{
	background: url(../img/ui.png);
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    width: 11px;
    height: 14px;
    margin: 0 0 9px 2px;
    overflow: hidden;
}
.sitemap-dropdown ul li .new{
	background-position: -20px -452px;
	position: relative;
	left: 48px;
	top: -25px;
}
.sitemap-dropdown ul li .hot_icon{
	background-position: 0 -452px;
	position: relative;
	left: 48px;
	top: -25px;
}
.phone{
	width: 103px;
	height: 31px;
}
.phone .phone-box{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    color: #888;
    text-decoration: none;
    line-height: 32px;
}
.phone:hover .phone-box{
	color: #c00;
}
.phone:hover .phone-box .fa-angle-down{
	display: none;
	color: #888;
}
.phone:hover .phone-box .fa-angle-up{
	display: inline;
	color: #888;
}
.phone-dropdown{
	width: 323px;
	height: 202px;
	background:white;
	padding: 15px;
	display: none;
	position: absolute;
	z-index: 11;
	border: 1px solid #e6e6e6;
	top: 30px;
	right: 0px;
}
.phone:hover .phone-box{
	background:white;
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	box-shadow: 0 1px 0 0 white;
	z-index: 1112;
}
.phone:hover .phone-dropdown{
	display: block;
}
.icon_phone{
	width: 18px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;	
	margin-right: 5px;	

}
.icon_phone .iconfont-lh{
	font-size: 19px;
	color: #e3101e;
}
.phone-dropdown .pic-left{
	width: 130px;
	height: 170px;
	background:url(../img/ui.png) -132px -799px;
	float: left;
}
.phone-dropdown .longspace{
	width: 1px;
    height: 170px;
    display: inline-block;
    margin: 0 15px;
    background: #f5f5f5;
}
.phone-dropdown .pic-right{
	width: 130px;
	height: 170px;
	background:url(../img/ui.png) 0 -799px;
	float: right;
}
.gome-head{
	width: 1200px;
	height: 100px;
	background: transparent;
	padding: 0;
}
.logo-left{
	float:left;
	width: 168px;
    height: 50px;
	margin: 28px 20px 0 0;
	background: transparent;
}
.logo-left a{
	display: block;
    width: 168px;
    height: 50px;
    background: url(../img/ui.png) 0 -969px no-repeat;
    overflow: hidden;
}
.logo-right{
	float:left;
	width: 100px;
    height: 50px;
	margin: 28px 0 0 0;
	background: transparent;
}
.logo-right a{
	display: block;
    width: 100px;
    height: 50px;
    background: url(../img/adver.gif) no-repeat;
    overflow: hidden;
}






body{
	background:#f6f6f6;
}


li{
	list-style: none;
}

a{
	text-decoration: none;
	color: #333;
	display: block;
	overflow: hidden;
}
h1,h2,h3,h4{
	margin:0;
	padding: 0;
	font-size: 100%;
	font-weight: 400;
}
.bg{
	width: 100%;
	height: 79.1px;
	border-bottom: solid 2px #ff8000;
}
.gm-travel-logo{
	width: 167px;
	height: 80px;
	float: left;
	background:url(../img/logo_bg1.png);
}
.gm-travel-logo a{
	width: 167px;
	height: 80px;
}
.travel-menu{
	height: 80px;
	width: 600px;
	display: block;
	float: left;
	margin-left: 145px;
	font-family: "Microsoft YaHei";
}
.menu-cur{
}

.travel-menu li{
	height: 80px;
	float: left;
	text-align: center;
}
.travel-menu li a:hover{
	color: #fc8002;
}
.travel-menu li a {
	height: 100%;
	display: block;
	line-height: 80px;
	font-size: 16px;
	color: #333;
	text-decoration: none;
	padding: 0 30px;
}
.menu-cur a{
	color: #fc8002 !important;
	font-weight: bold;
}
.user-info{
	border: 1px solid #dddddd;
	height: 33px;
	line-height: 32px;
	margin-top: 26px;
	padding: 0 10px 0 50px;
	position: relative;
	float: right;
}
.user-info i{
	background: url(../img/logo-login.png);
	width: 30px;
	height: 30px;
	position: absolute;
	left: 10px;
	top: 2px;
}
.user-info a{
	color: #fc8002;
	font-size: 16px;
}
.gm-header{
	width: 100%;
	height:430px;
	position: relative;
}
.gm-header{
	width: 100%;
}
.gm-header .lubo li{
	width: 100%;
}
.gm-header .lubo li a{
	width: 100%;
	height: 430px;
	display: inline-block;
	background-image: url(../img/lunbo4.jpg);
	background-repeat: no-repeat;
	background-position: top center;
}
.gosearch{
	width: 445px;
	height: 310px;
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -600px;
	z-index: 12;
}
.search-bg{
	position: absolute;
	width: 445px;
	height: 310px;
	border-radius: 10px;
	background: #fff;
	opacity: .7;
	z-index: 0;
}
.search-menu{
	width: 105px;
	height: auto;
	float: left;
	overflow: hidden;
}
.search-menu li{
	width: 105px;
	height: 70px;
	line-height: 70px;
	float: left;
	position: relative;
}
.li_bg{
	width: 105px;
	height: 70px;
	position: absolute;
	z-index: 0;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.search-menu li span{
	cursor:pointer;
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: #ff8000;
	margin-left: 15px;
	position: relative;
	z-index: 1;
}

.search_icon {
	float:left;
	width: 27px;
	height: 27px;
	margin: 23px 10px 0 0;
	background-repeat: no-repeat;
	position: relative;
	background-image: url(../img/icon_index.png);
}
.icon01{
	background-position: 0 -30px;
}
.icon02{
	background-position: 0 -113px;
}
.icon03{
	background-position: 0 0px;
}
.icon04{
	background: url(../img/dujia.png);
}

.search-detail{
	width: 340px;
	height: 310px;
	float: right;
}
.detail-bg{
	width: 340px;
	height: 310px;
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
	position: absolute;
	background-color: #fff;
	opacity: .8;
}
.detail-tab{
	margin-left: 0px;
	width: 315px;
	padding-left: 25px;
	position: relative;
	z-index: 1;
	padding-top: 2px;
	display: none;
}
.detail-tab dl{
	padding-top: 15px;
	height: 32px;
	margin: 0;
}
.detail-tab dt{
	margin-right: 10px;
	text-align: left;
	vertical-align: middle;
	font-size: 16px;
	line-height: 32px;
	font-weight: 400;
	font-family: "Microsoft YaHei";
}
.detail-tab dd{
	vertical-align: middle;
	position: relative;
}
.fl{
	float: left;
	display: inline;
}
/*	font-size: 400 12px/1.5;*/
.search-date-box {
	display: none;
}



.w70{
	font: 400 12px/1.5 Arial,Tahoma,Helvetica,sans-serif;
	width: 70px;

}

.w200{
	font: 400 12px/1.5 Arial,Tahoma,Helvetica,sans-serif;
	width: 200px;
}
.on {
	display: block;
}

.detail-tab .clearfix{
	height: 47px;
	width: 100%;
	padding-top: 15px;
}
.nRadio{
	vertical-align: middle;
	padding:0!important;
	margin: -2px 6px 0 0!important;
	font: 400 12px/1.5 Arial,Tahoma,Helvetica,sans-serif!important;
    color: #5e5e5e;
}
.input_text{
	width: 200px;
	font-weight: 400;
	background-color: #fff;
	float: left;
	height: 30px;
	margin: 0 3px 0 0;
	padding: 0 20px 0 3px;
	border: #eee solid 1px!important; 
	font-size: 14px;
	line-height: 30px;
	font-family: 'Microsoft YaHei','Arial','SimSun','Tahoma','Helvetica','sans-serif';
}
.label{
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;

}
.jp-dd label{
	margin-right: 30px;
	margin-top: 5px;
	float: left;
	font-size: 14px;
	font-weight: 400;
}
.date-picker .com_icondate{
	background-position: 0 0 ;
}
.h20{
	height: 20px;
}
.mt30{
	margin-top: 30px;
}
.mt20{
	margin-top: 20px;
}
.com_icondate{
	background: url(../img/text_iconbg.png) 0 -30px;
	height: 20px;
	width: 17px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	float: left;
	margin: -25px 0 0 176px;
}


.hotAddress li{
	float: left;
	margin-right: 20px;
}
.hotAddress li a{
	color: #666;
	font-size: 12px;
	line-height: 26px;
	white-space: nowrap;
}
.hotAddress li a:hover{
	color: #ff8000;
	text-decoration: none;
}
.change{
	position: absolute;
	width: 12px;
	height: 42px;
	border: 1px solid #ddd;
	border-left: none;
	left: 310px;
	top: 82px;
	font-size: 12px;
}
.change span{
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	background: #aaa;
	top: 13px;
	left: 5px;
	cursor: pointer;
}
.disabled{ color:#ccc!important;}
.disabled input{ background:#f3f3f3;}
.search_btn{
	width: 138px;
	background: #ff8000;
	color: #fff;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	margin-left: 80px;
	font-family: "Microsoft YaHei";
}
.mt15{
	margin-top: 15px;
}




.box1200{
	width:1200px;
	overflow: hidden;
	margin: 0 auto;
}

.nav-title{
	margin: 0 auto;
	width: 100%;
	height: 40px;
	margin-top: 15px;
	font-size: 18px;
	color: #333;
	border-bottom: #dddddd solid 1px;
}
.show-list{
	overflow: hidden;
}
.dujia-show-list{
	width: 1220px;	
	overflow: hidden;
}
.show-list .dujia-show-list li{
	float: left;
	width: 288px;
	height: 295px;
	background: white;
	margin: 16px 16px 0 0;
}
.show-list li a{
	color: #333;
	outline: 0;
	cursor: pointer;
	text-decoration: none;
}
.show-list dl{
	margin: 0;
	padding:0;
}
.show-list .dujia-show-list li a img{
	width: 288px;
	height: 200px;
}
.show-list li dl dd{
	padding: 0 15px;
	height: 95px;
}
.product_tit{
	padding-top: 11px;
	line-height: 22px;
	color: #666;
	height: 50px;
	margin-bottom:6px;
	overflow: hidden;
}
.clearfix{
	margin: 0;
}
.price{

	font-size: 12px;
	float: left;
	color: #ff8000;
}
.price strong{
	font-weight: normal;
	font-size: 20px;
}
.city{
	float: right;
	color: #aaa;
	height: 30px;
	line-height: 30px;
}


.ovh{
	overflow: hidden;
}
.w880{
	width: 880px;
	float: left;
}
.w320{
	width: 320px;
	float: right;
}


.show-ad{
	width: 320px;
	height: 202px;
	float: left;
	margin-top: 15px;
}
.show-ad img{
	width: 320px;
	height: 202px;
}

.show-pro{
	width: 205px;
	height: 167px;
	position: relative;
}

.show-li .show-pro img{
	width: 205px;
	height: 167px;
	border: 0;
}

.pro-detail {
	width: 100%;
	height: 35px;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #ccc;
	line-height: 34px;
	vertical-align: middle;
	background: url(../img/show-pro-bg.png) repeat-x;
}
.pro-detail  .detail-icon{
	width: 13px;
	height: 13px;
	display: inline-block;
	background-position: 0 -66px;
	position: absolute;
	top: 10px;
	left: 10px;
	background-image: url(../img/icon_index.png);
}
.pro-detail em{
	font-style: normal;
	width: 174px;
	height: 34px;
	padding-left: 25px;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: "微软雅黑";
}
.pro-detail  .cityname{
	font-style: normal;
	margin-right: 5px;
}
.show-name{
	width: 136px;
	height: 35px;
	line-height: 34px;
	padding-left: 7px;
	overflow: hidden;
	white-space: nowrap;
	text-decoration: ellipsis;
	float: left;
}
.show-price{
	float: left;
	width: 65px;
	height: 35px;
	color: #ff8000;
	font-size: 16px;
	text-align: right;
	line-height: 34px;
	font-weight: bold;
}
.show-price span{
	width: 7px;
	font-size: 12px;
	font-weight: 400;
	margin-left: -5px;
	margin-right: 1px;
}
.show-price em{
	float: right;
	font-size: 12px;
	color: #aaa;
	margin: 0 5px;
	font-style: normal;
}
.show-li{
	width: 205px;
	height: 200px;
	display: inline-block;
	float: left;
	margin: 15px 15px 0 0;
	background:#fff;
}
.show-li a{
	width: 205px;
	height: 200px;
	display: block;
	overflow: hidden;
}

.jp-show-list{
	width: 1216px;
	overflow: hidden;
}
.jp-show-list p{
	margin: 0;
}
.jp-show-list li{
	width: 288px;
	float: left;
	margin: 15px 16px 0 0 ;
	background: #fff;
}
.jp-show-list li a{
	text-decoration: none;
	color: #333;
	outline: 0;
	cursor: pointer;
}
.jp-show-list li a img{
	width: 288px;
	height: 140px;
	overflow: hidden;
	display: block;
	border: none;
	vertical-align: middle;
}
.fly-to{
	width: 134px;
	height: 40px;
	padding-left: 10px;
	font-size: 15px;
	line-height: 40px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #666;
}
.jp-show-list .h_train_name{
	white-space: 10em;
	height: 40px;
	line-height: 40px;
	font-family: arial;
	float: right;
	color: #aaa;
	padding-right: 10px;
	overflow: hidden;
	text-align: right;
}
.jp-show-list .h_train_name span{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-family:  'microsoft yahei';
}
.gome-foot-new{
	background-color: #222222;
	margin-top: 20px;
	overflow: hidden;
}
.gome-foot-new-body{
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding:35px 0 32px 0;
	overflow: hidden;
	height: 224px;
}
.gome-foot-slogan{
	position: absolute;
	top: 20px;
	left: 0;
}
.gome-foot-help{
	border-left: 1px solid #444;
	border-right: 1px solid #444;
	margin: 0 213px 0 230px;
	padding: 0 0 15px 30px;
	overflow: hidden;
}
.gome-foot-help dl{

	float: left;
	padding: 0 25px 0 0 ;
}
.gome-foot-help dt{
	font: 14px/24px "Microsoft YaHei";
	color: #fff;
	padding-bottom: 10px;
	width: 120px;
}
.gome-foot-help a{
	font: 12px/22px "Microsoft YaHei";
	color: #a5a5a5;
}
.gome-foot-code2{
	position: absolute;
	top: 40px;
	right: 60px;
	color: #ccc;
	text-align: center;
}
.gome-foot-code2 img{
	width: 90px;
	height: 90px;
	display: block;
}
.gome-foot-code2 p{
	font-size: 13px;
}
.copyright{
	background-color: #5e6168;
	padding: 10px;
}
.copyright p{
	width: 1180px;
	margin:0 auto;
	line-height: 25px;
	height: 25px;
	color: #ccc;
}
.copyright a{
	float: right;
	margin-left: 20px;
	color: #ccc;
	text-decoration: none;
}



::-webkit-datetime-edit { padding: 1px;}
::-webkit-datetime-edit-fields-wrapper {}
::-webkit-datetime-edit-text { padding: 0 .3em; }
::-webkit-datetime-edit-year-field {}
::-webkit-datetime-edit-month-field {}
::-webkit-datetime-edit-day-field {}
::-webkit-inner-spin-button { visibility: hidden; }



