<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Examples</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" href="lib/font_lh/iconfont.css">
	<link rel="stylesheet" type="text/css" href="lib/font_cyl/iconfont.css">
	<link rel="stylesheet" href="lib/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link href="css/css_lh.css" rel="stylesheet">
	<link href="css/css_cyl.css" rel="stylesheet"> 
	<link href="css/css_zwf.css" rel="stylesheet">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<div class="container-fluid gome-top">
			<div class="container-fluid gome-top-bar">
				<ul>
					<li class="entry">
						<a href="">
							<div class="logo-small"></div>
							<span>国美Plus</span>
						</a>
					</li>
					<li class="space"></li>
					<li class="user">
						<a href="" class="user-box">
							<span>国美会员
								<i class="fa fa-angle-down"></i>
								<i class="fa fa-angle-up"></i>
							</span>
						</a>
						<div class="user-dropdown">
							<div class="user-name">
								<div class="user-name-pic">
									
								</div>
								<div class="user-name-word">
									<p>欢迎来到国美在线，
										<a href="../login/index.html">请登录！</a>
									</p>
								</div>
								<div class="user-name-login">
									<p>
										<strong>
											<a href="">美美</a>
											<em>G1</em>
										</strong>
									</p>
									<a href="">
										<p class='first'>
											<span style="width: 100%;"></span>
											<sup>65/0</sup>
										</p>
										<p class='second'>
											<span style="width: 0%;"></span>
											<sup>0/1</sup>
										</p>
										<p class='third'>
											升级到G2还需
											<ins>1</ins>
											个购物天数
										</p>
									</a>
								</div>
							</div>
							<div class="user-icon">
								<span>
									<p>我的特权</p>
									<a href="">会员俱乐部</a>
								</span>
								<div class="user-icon-prev">
								</div>
								<div class="user-icon-next">
								</div>
								<div class="rollintro">
									<ul>
										<li>
											<a href="">
												<i class="iconfont-lh">&#xe614;</i>
												美豆抽奖
											</a>
										</li>
										<li>
											<a href="">
												<i class="iconfont-lh">&#xe628;</i>
												退换货保障
											</a>
										</li>
										<li>
											<a href="">
												<i class="iconfont-lh">&#xe613;</i>
												价格保护
											</a>
										</li>
										<li>
											<a href="">
												<i class="iconfont-lh">&#xe641;</i>
												消费得美豆
											</a>
										</li>
										<li>
											<a href="">
												<i class="iconfont-lh">&#xe625;</i>
												专属阶梯价
											</a>
										</li>
										<li>
											<a href="">
												<i class="iconfont-lh">&#xe621;</i>
												生日礼包
											</a>
										</li>
										<li>
											<a href="">
												<i class="iconfont-lh">&#xe627;</i>
												自营免运费
											</a>
										</li>
										<li>
											<a href="">
												<i class="iconfont-lh">&#xe626;</i>
												专属客服
											</a>
										</li>
										<li>
											<a href="">
												<i class="iconfont-lh">&#xe679;</i>
												更多精彩
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li class="login">
						<a href="">登录</a>
						<a href="">注册</a>
					</li>
				</ul>
				<ul class="top-right">
					<li class="myorder">
						<a href="">我的订单</a>
					</li>
					<li class="mygome">
						<a href="" class="mygome-box">
							<span>我的国美
								<i class="fa fa-angle-down"></i>
								<i class="fa fa-angle-up"></i>
							</span>
						</a>
						<div class="mygome-dropdown">
							<strong>
							我的国美，
							<a href="">请登录！</a>
							</strong>
							<ul class="mygome-order">
								<li>
									<a href="">待处理订单</a>
								</li>
								<li>
									<a href="">我的收藏</a>
								</li>
								<li>
									<a href="">我的金融</a>
								</li>
								<li>
									<a href="">
										个人资料
									</a>
								</li>
							</ul>
							<ul class="mygome-coupon">
								<li>
									<a href="">红&nbsp;券</a>
									<div id="cou-red">-</div>
								</li>
								<li>
									<a href="">蓝&nbsp;券</a>
									<div id="cou-blue">-</div>
								</li>
								<li>
									<a href="">店铺券</a>
									<div id="cou-shop">-</div>
								</li>
								<li>
									<a href="">购物券</a>
									<div id="cou-pay">-</div>
								</li>
							</ul>
							<p>足迹</p>
							<ul id="mygome-track">
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
					</li>
					<li class="space"></li>
					<li class="comp">
						<a href="">企业采购</a>
					</li>
					<li class="serve">
						<a href="" class="serve-box">
							<div class="icon-serve">
								<i class="iconfont-lh">&#xe62a;</i>
							</div>
							<span>服务中心
								<i class="fa fa-angle-down"></i>
								<i class="fa fa-angle-up"></i>
							</span>
						</a>
						<div class="serve-dropdown">
							<a href="" class="live-server">
								<i class="iconfont-lh">&#xe62a;</i>
								在线客服
							</a>
						</div>
						<script id="serve_tmp" type="text/x-jsrender">
							{{for serveritem}}
								<p>
									<a href="">{{:ptitle}}</a>
								</p>
								<ul id="serveul">
									{{for ultitle}}
									<li><a href="">{{:#data}}</a></li>
									{{/for}}
								</ul>
							{{/for}}
						</script>
					</li>
					<li class="sitemap">
						<a href="" class="sitemap-box">
							<span>网站导航
								<i class="fa fa-angle-down"></i>
								<i class="fa fa-angle-up"></i>
							</span>
						</a>
						<div class="sitemap-dropdown"></div>
						<script id="sitemap_tmp" type="text/x-jsrender">
							{{for mapitem}}
								<dl>
									<dt>{{:droptitle}}</dt>
									<dd>
										{{for droplist}}
											<ul>
												{{for listitem}}
													<li>
														<a href="">{{:#data}}</a>
													</li>
												{{/for}}
											</ul>
										{{/for}}
									</dd>
								</dl>
							{{/for}}
						</script>
					</li>
					<li class="space"></li>
					<li class="phone">
						<a href="" class="phone-box">
							<div class="icon_phone">
								<i class="iconfont-lh">&#xe629;</i>
							</div>
							<span>手机国美
								<i class="fa fa-angle-down"></i>
								<i class="fa fa-angle-up"></i>
							</span>
						</a>
						<div class="phone-dropdown">
							<a href="" class="pic-left"></a>
							<div class="longspace"></div>
							<a href="" class="pic-right"></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="container-fluid gome-head">
			<div class="logo-left">
				<a href=""></a>
			</div>
			<div class="logo-right">
				<a href=""></a>
			</div>
			<div class="topsearch">
				<div class="search-box">
					<input type="text" value="电视">
					<a href=""></a>
				</div>
				<div class="search">搜索</div>
				<div class="keyword">
					<a href="">西门子2998</a>
					<a href="">送110元</a>
					<a href="">9.9免运费</a>
					<a href="">满500减100</a>
					<a href="">买1送5</a>
					<a href="">热水器549</a>
					<a href="">热卖直降</a>
					<a href="">iPad2399</a>
				</div>
			</div>
			<div class="shop">
				<div class="shop-box">
					<a href="" class="menu">
						<div class="trolley">
							<div class="brand">0</div>
							<i class="fa fa-caret-right arrow-right"></i>
						</div>
						<div class="trolley-word">
							<span class="torlley-word-static">购物车空了</span>
							<i class="fa fa-caret-down arrow-down"></i>
							<i class="fa fa-caret-up arrow-up"></i>
						</div>
						<div class="menu-hide">
							<a href="">购物车 </a>中还没有商品，赶紧选购吧！
						</div>
					</a>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid stick-nav">
				<div class="topcategory">
					<h2 class="hover">
					<span></span>
					<a href="">全部商品分类</a>
					</h2>
					<div class="slidenav" id="navbox">
						<div class="slide-background"></div>
						<ul class="slidenav-ul"></ul>
					</div>
				</div>
				<div class="topsearch">
					<div class="search-box">
						<input type="text" value="电视">
						<a href=""></a>
					</div>
					<div class="search">搜索</div>
				</div>
			</div>
		</nav>
		<div id="category-box" class="category-box-cyl">
			<div class="category">
				<div class="slidebar">
					<h2 class="hover">
					<span id="slide_list"></span>
					<a href="">全部商品分类</a>
					</h2>
					<div class="slidenav" id="navbox">
						<div class="slide-background"></div>
						<ul class="slidenav-ul"></ul>
						<script id="category_tmp" type="text/x-jsrender">
						    {{for catelist}}
						        <li class="slidenav-item">
						            <h3>
						                {{for slidenav_title}}
						                    <a href="">{{:#data}}</a>
						                {{/for}}
						            </h3>
						            <div class="full_category">
						                <div class="category-content">
						                    <div class="category-left">
						                        <div class="category-title">
						                            {{for category_title}}
						                                <a href="">{{:#data}}</a>
						                            {{/for}}
						                        </div>
						                        {{if part && part.length}}
							                        {{for part_con}}
								                        <div class="category-iteminfo category-iteminfo-left" style="border-right:solid 1px #f3f3f3;_border-right:solid 1px #f3f3f3">
								                            {{for category_item}}
								                                <div class="category-item">
								                                    <div class="cate-title cate-title2">{{:item_title}}</div>
								                                    <div class="cate-list cate-list2">
								                                        <div class="slip-line"></div>
								                                        {{for item_list}}
								                                            <a href="">{{:#data}}</a>
								                                        {{/for}}
								                                    </div>
								                                </div>
								                            {{/for}}
								                        </div>
								                    {{/for}}
						                        {{else}}
							                         <div class="category-iteminfo">
							                        	{{for category_item}}
								                            <div class="category-item">
								                                <div class="cate-title">{{:item_title}}</div>
								                                <div class="cate-list">
								                                    <div class="slip-line"></div>
								                                    {{for item_list}}
								                                        <a href="">{{:#data}}</a>
								                                    {{/for}}
								                                </div>
								                            </div>
								                        {{/for}}
							                        </div>
						                        {{/if}}
						                    </div>
						                    <div class="category-right">
						                        <div class="brand">
						                            <div class="brand-icon">
						                                {{for brand_path}}
						                                    <a href=""><img src="{{:#data}}"></a>
						                                {{/for}}
						                            </div>
						                        </div>
						                        {{if activity_path}}
						                        	<a href="" class="activity"><img src="{{:activity_path}}"></a>
						                        {{else}}
						                        	<a href="" class="activity"></a>
						                        {{/if}}
						                    </div>
						                </div>
						            </div>
						        </li>
						    {{/for}}
						</script>
					</div>
				</div>
				<ul class="navibar"></ul>
				<script id="navibar_tmp" type="text/x-jsrender">
					{{for item_title}}
						<li>
							<a href="">
								<span>{{:#data}}</span>
							</a>
						</li>
					{{/for}}
				</script>
				<div class="Hotscroll">
					<div class="scroll">
						<ul class="scroll_li">
							<li><a href="" >清风抽纸16包 <span>29.9元</span></a></li>
							<li><a href="" >电脑 <span>满2000减100</span></a></li>
							<li><a href="" >生活家电 <span>满300减50</span></a></li>
						</ul>
						<ul class="temp"></ul>
					</div>
					<div class="hdbtn">
						<a class="down""><i></i></a>
						<a class="up""><i></i></a>
					</div>
				</div>
			</div>
		</div>
		<!--nSearchWarp-->
		<div class="nSearchWarp">
			<div class="hot-tj">
				<span class="icon_tj">热卖<br />推荐</span>
				<ul class="hot-list clearfix" id="hot-list" modelid="">
					<script type="text/jsrender" id="contentarea">
						<li class="item asynPricebox">
							<p class="pic">
								<a href={{:plink}} target="_blank" titlt={{:ptitle}} data-code={{:pdata-code}}>
									<img src="{{:imgpath}}" alt/>
								</a>
							</p>
							<p class="name">
								<a href={{:nlink}} target="_blank" titlt={{:ntitle}} data-code={{:ndata-code}}>
									{{:model}}
								</a>
							</p>
							<p class="price asynPrice">
								{{:price}}
							</p>
							<p class="btn">
								<a target="_blank" class=" buy" href={{:blink}} datacode={{:bdata-code}}>
									立即抢购
								</a>
							</p>
						</li>
					</script>
				</ul>
			</div>
		</div>
		<!--nSearchWarp-->
		<div class="nSearchWarp">
			<div class="nSearch-crumb clearfix">
				<span id="category-first" catgoryId="" datacode="" class="nSearch-crumb-tit-category">手机</span>
				<dl class="nSearch-crumb-category" catgoryID="" id="category-second">
					<dt class="category-name">手机通讯</dt>
				</dl>
				<dl class="nSearch-crumb-category" catgoryId="" id="category-third">
            		<dt class="category-name" id="category-name-first">手机</dt>
            		<dd class="category-box"  id="category-box-third" modelid="">
                        <a data-code="" href="" target="_blank">对讲机</a>
                        <a data-code="" href="" target="_blank">手机</a>
                        <a data-code="" href="" target="_blank">合约机</a>
                        <a data-code="" href="" target="_blank">二手手机</a>
            		</dd>
        		</dl>
			</div>
			<div class="nSearchWarp nSearch-crumb-category-results">
        		<span class="nFont14"><b class="nHeigh">手机</b>商品筛选</span>
        		<span>共 <em id="searchTotalNumber">3679</em> 个商品</span>
    		</div>
		</div>
		<div class="nSearchWarp nSearch-facets" id="module-facet">
			<div id="facets-category-brand" class="facets-category clearfix">
    			<div class="fc-option">
        			<span class="fc-option-multiple">多选</span>
        			<span class="fc-option-more" style="visibility: visible"><i></i>更多</span>
    			</div>
    			<span class="fc-key"><b>品牌：</b></span>
    			<div class="fc-content">
    				<ul class="category-brand clearfix" style="position: relative;">
	                    <li class="c-brand "  brand-value="A">
	                        <a id="brandID1aK0" data-code="" facetsId="" href="" class="facet" name="Apple" style="background-image:url(img_zwf/apple.jpg)">Apple<i></i></a>
	                    </li>
	                    <li class="c-brand "  brand-value="X">
	                        <a id="brandID11I7" data-code="" facetsId="" href="" class="facet" name="小米（MI）" style="background-image:url(img_zwf/MI.jpg)">小米（MI）<i></i></a>
	                    </li>
	                    <li class="c-brand "  brand-value="H">
	                        <a id="brandID15L9" data-code="" facetsId="" href="" class="facet" name="华为（HUAWEI）" style="background-image:url(img_zwf/HUAWEI.jpg)">华为（HUAWEI）<i></i></a>
	                    </li>
	                    <li class="c-brand "  brand-value="G">
	                        <a id="brandID1dbo" data-code="" facetsId="" href="" class="facet" name="国美(GOME)" style="background-image:url(img_zwf/gome.jpg)">国美(GOME)<i></i></a>
	                    </li>
	                    <li class="c-brand "  brand-value="R">
	                        <a id="brandID12j7" data-code="" facetsId="" href="" class="facet" name="荣耀" style="background-image:url(img_zwf/rongyao.jpg)">荣耀<i></i></a>
	                    </li>
	                    <li class="c-brand "  brand-value="S">
	                        <a id="brandID11st" data-code="" facetsId="" href="" class="facet" name="三星（SAMSUNG）" style="background-image:url(img_zwf/SAMSUNG.jpg)">三星（SAMSUNG）<i></i></a>
	                    </li>
	                    <li class="c-brand "  brand-value="M">
	                        <a id="brandID12sC" data-code="" facetsId="" href="" class="facet" name="魅族（MEIZU）" style="background-image:url(img_zwf/MEIZU.jpg)">魅族（MEIZU）<i></i></a>
	                    </li>
	                    <li class="c-brand "  brand-value="L">
	                        <a id="brandID11FZ" data-code="" facetsId="" href="" class="facet" name="乐视" style="background-image:url(img_zwf/leshi.jpg)">乐视<i></i></a>
	                    </li>
	                    <li class="c-brand "  brand-value="O">
	                        <a id="brandID12sQ" data-code="" facetsId="" href="" class="facet" name="OPPO" style="background-image:url(img_zwf/OPPO.jpg)">OPPO<i></i></a>
	                    </li>
	                    <li class="c-brand "  brand-value="V">
	                        <a id="brandID1581" data-code="" facetsId="" href="" class="facet" name="VIVO" style="background-image:url(img_zwf/VIVO.jpg)">VIVO<i></i></a>
	                    </li>
	                    <li class="c-brand "  brand-value="J">
	                        <a id="brandID14WS" data-code="" facetsId="" href="" class="facet" name="金立（GiONEE）" style="background-image:url(img_zwf/GIONEE.jpg)">金立（GiONEE）<i></i></a>
	                    </li>
	                    <li class="c-brand "  brand-value="M">
	                        <a id="brandID14Vi" data-code="" facetsId="" href="" class="facet" name="美图" style="background-image:url(img_zwf/meitu.jpg)">美图<i></i></a>
	                    </li>
	                    <li class="c-brand "  brand-value="Z">
	                        <a id="brandID147z" data-code="" facetsId="" href="" class="facet" name="中兴（ZTE）" style="background-image:url(img_zwf/ZTE.jpg)">中兴（ZTE）<i></i></a>
	                    </li>
	                    <li class="c-brand "  brand-value="Z">
	                        <a id="brandID1deM" data-code="" facetsId="" href="" class="facet" name="ZUK" style="background-image:url(img_zwf/ZUK.jpg)">ZUK<i></i></a>
	                    </li>
	                    <li class="c-brand "  brand-value="K">
	                        <a id="brandID1avI" data-code="" facetsId="" href="" class="facet" name="酷派（Coolpad）" style="background-image:url(img_zwf/Coolpad.jpg)">酷派（Coolpad）<i></i></a>
	                    </li>
	                    <li class="c-brand "  brand-value="H">
	                        <a id="brandID10Rn" data-code="" facetsId="" href="" class="facet" name="HTC" style="background-image:url(img_zwf/HTC.jpg)">HTC<i></i></a>
	                    </li>
					</ul>
    			</div>
			</div>
			<div class="facets-category facets-category-common  clearfix">
    			<div class="fc-option">
        			<span class="fc-option-multiple">多选</span>
    			</div>
    			<span class="fc-key fir" facetsId="">价格：</span>
    			<div class="fc-content">
        		<div class="category-normal">
		            <ul class="clearfix" modelid="">
		                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>0-499</a></li>
		                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>500-999</a></li>
		                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>1000-1699</a></li>
		                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>1700-2799</a></li>
		                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>2800-4499</a></li>
		                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>4500-11999</a></li>
		                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>12000以上</a></li>
		            	</ul>
        			</div>
    			</div>
			</div>
			<div class="facets-category facets-category-common  clearfix">
			    <div class="fc-option">
			        <span class="fc-option-multiple">多选</span>
			        <span class="fc-option-more"><i></i>更多</span>
			    </div>
			    <span class="fc-key fir" facetsId="">网络制式：</span>
			    <div class="fc-content">
			        <div class="category-normal">
			            <ul class="clearfix" modelid="">
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>全网通4G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>移动4G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>联通4G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>电信4G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>双卡</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>双卡单4G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>双卡双4G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>其他</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>移动2G/联通2G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>电信3G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>移动3G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>移动联通双4G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>联通3G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>电信2G</a></li>
			            </ul>
			        </div>
			    </div>
			</div>
			<div class="facets-category facets-category-common  clearfix">
			    <div class="fc-option">
			        <span class="fc-option-multiple">多选</span>
			        <span class="fc-option-more"><i></i>更多</span>
			    </div>
			    <span class="fc-key fir" facetsId="">屏幕尺寸：</span>
			    <div class="fc-content">
			        <div class="category-normal">
			            <ul class="clearfix" modelid="">
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>5.6英寸及以上</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>5.5-5.1英寸</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>5.0-4.6英寸</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>4.5-3.1英寸</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>3.0英寸及以下</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>其他</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>5.5英寸</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>4.5英寸</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>4英寸</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>4.7英寸</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>3.5英寸</a></li>
			            </ul>
			        </div>
			    </div>
			</div>
			<div class="facets-category facets-category-common  clearfix">
			    <div class="fc-option">
			        <span class="fc-option-multiple">多选</span>
			        <span class="fc-option-more"><i></i>更多</span>
			    </div>
			    <span class="fc-key fir" facetsId="">功能特点：</span>
			    <div class="fc-content">
			        <div class="category-normal">
			            <ul class="clearfix" modelid="">
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>后置双摄像头</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>骁龙芯片</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>快速充电</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>指纹识别</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>双卡双待</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>拍照神器</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>翻盖</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>直板键盘</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>2K屏</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>支持NFC</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>游戏手机</a></li>
			            </ul>
			        </div>
			    </div>
			</div>
			<div class="facets-category facets-category-common fc-hide clearfix">
			    <div class="fc-option">
			        <span class="fc-option-multiple">多选</span>
			    </div>
			    <span class="fc-key fir" facetsId="">操作系统：</span>
			    <div class="fc-content">
			        <div class="category-normal">
			            <ul class="clearfix" modelid="">
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>安卓（Android）</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>微软（WindowsPhone）</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>苹果(IOS)</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>无</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>其他</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>其他</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>ios系统</a></li>
			            </ul>
			        </div>
			    </div>
			</div>
			<div class="facets-category facets-category-common fc-hide clearfix">
			    <div class="fc-option">
			        <span class="fc-option-multiple">多选</span>
			    </div>
			    <span class="fc-key fir" facetsId="">运行内存：</span>
			    <div class="fc-content">
			        <div class="category-normal">
			            <ul class="clearfix" modelid="">
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>8G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>6G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>4G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>3G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>2G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>无</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>其他</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>1G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>3G以上</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>512M</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>256M以下</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>256M</a></li>
			            </ul>
			        </div>
    			</div>
			</div>
			<div class="facets-category facets-category-common fc-hide clearfix">
			    <div class="fc-option">
			        <span class="fc-option-multiple">多选</span>
			    </div>
			    <span class="fc-key fir" facetsId="">机身内存：</span>
			    <div class="fc-content">
			        <div class="category-normal">
			            <ul class="clearfix" modelid="">
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>256G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>128G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>64G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>32G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>16G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>8G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>8G以下</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>支持内存卡</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>无</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>其他</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>4G以下</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>4G</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>128G以上</a></li>
			            </ul>
			        </div>
			    </div>
			</div>
			<div class="facets-category facets-category-common fc-hide clearfix">
			    <div class="fc-option">
			        <span class="fc-option-multiple">多选</span>
			    </div>
			    <span class="fc-key fir" facetsId="">CPU核数：</span>
			    <div class="fc-content">
			        <div class="category-normal">
			            <ul class="clearfix" modelid="">
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>十核</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>八核</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>双四核</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>四核</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>双核</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>单核</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>无</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>其他</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>单核以下</a></li>
			            </ul>
			        </div>
			    </div>
			</div>
			<div class="facets-category facets-category-common fc-hide clearfix">
			    <div class="fc-option">
			        <span class="fc-option-multiple">多选</span>
			    </div>
			    <span class="fc-key fir" facetsId="">电池容量：</span>
			    <div class="fc-content">
			        <div class="category-normal">
			            <ul class="clearfix" modelid="">
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>1200mAh以下</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>1200mAh-1999mAh</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>2000mAh-2999mAh</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>3000mAh-3999mAh</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>4000mAh-5999mAh</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>6000mAh以上</a></li>
			            </ul>
			        </div>
			    </div>
			</div>
			<div class="facets-category facets-category-common fc-hide clearfix">
			    <div class="fc-option">
			        <span class="fc-option-multiple">多选</span>
			    </div>
			    <span class="fc-key fir" facetsId="">像素：</span>
			    <div class="fc-content">
			        <div class="category-normal">
			            <ul class="clearfix" modelid="">
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>1600万以上</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>1000-1600万</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>500-1000万</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>500万以下</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>无</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>其他</a></li>
			            </ul>
			        </div>
			    </div>
			</div>
			<div class="facets-category facets-category-common fc-hide clearfix">
			    <div class="fc-option">
			        <span class="fc-option-multiple">多选</span>
			    </div>
			    <span class="fc-key fir" facetsId="11572">颜色：</span>
			    <div class="fc-content">
			        <div class="category-normal">
			            <ul class="clearfix" modelid="">
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>黑色</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>白色</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>金色</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>粉色</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>红色</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>黄色</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>灰色</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>蓝色</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>绿色</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>紫色</a></li>
			                    <li><a class="facet " data-code="" href="" facetsId=""><i></i>其他</a></li>
			            </ul>
			        </div>
			    </div>
			</div>

			<div class="fccc-control-warp">
	            <span class="fccc-control"  id="fc-common-show">更多选项（操作系统,运行内存,机身内存,CPU核数,电池容量,像素,颜色）</span>
	            <span class="fccc-up" id="fc-common-hide">收起&nbsp;&nbsp;</span>
	        </div>
		</div>
		<!--nSearchWarp-->
		<div class="nSearchWarp">
    		<div class="nSearchWarp-main clearfix">
        		<div class="product-right-box">
            		<div id="prdRight-1">
            			<script type="text/jsrender" id="contentarea-dpjx">
							<div class="prd-right-normal">
								<h3 class="hd">
									<i class="dsp-tuiguangIdentifi">广告</i>
									店铺精选
								</h3>
								<ul class="bd" id="dsp_tuiguang">
									<li class="buy-items">
										<div class="pic">
											<a href={{:plink_1}} target="_blank">
												<img src={{:imgpath_1}} />
											</a>
										</div>
										<div class="price">
											¥
											<span>{{:price_1}}</span>
										</div>
										<div class="name">
											<a href={{:nlink_1}} target="_blank">
											{{:name_1}}
											</a>
										</div>
									</li>
									<li class="buy-items">
										<div class="pic">
											<a href={{:plink_2}} target="_blank">
												<img src={{:imgpath_2}} />
											</a>
										</div>
										<div class="price">
											¥
											<span>{{:price_2}}</span>
										</div>
										<div class="name">
											<a href={{:nlink_2}} target="_blank">
											{{:name_2}}
											</a>
										</div>
										<div class="adver">
											{{:introduce_2}}
											<a href="" target="_blank"></a>
										</div>
									</li>
								</ul>
							</div>
						</script>
            		</div>
        		</div>
        		<div class="product-left-list" id="product-left">
        			<div style="height:74px">
						<div id="filter-box" modelid="">
						    <div id="filter-top" class="filter-top clearfix">
						        <ul class="filter-order-box" id="filter-order-box">
						            <li id="sort-general" class="cur" data-sort="00"><a href="">综合</a></li>
						            <li class="" data-sort="10"><a href="">销量</a></li>
						            <li class="" data-sort="30"><a href="">新品</a></li>
						            <li class="" data-sort="50"><a href="">评价</a></li>
						            <li id="sort-price" class="" data-sort="21" prdUrl1="" prdUrl2=""><a href="">价格</a><i class="icon-up-down"></i></li>
						        </ul>
						        <ul class="filter-priceRange-box clearfix">
						            <li class="priceRange-input">
						            	<input id="fc-lowPrice" maxlength="6" type="text" value="¥" />
						            </li>
						            <li class="priceRange-link">-</li>
						            <li class="priceRange-input">
						            	<input id="fc-highPrice" type="text" maxlength="6" value="¥" />
						            </li>
						            <li class="priceRange-btn">
						            	<a id="fc-btn-cancel" class="fc-btn-cancel" href="javascript:void(0)">清除</a>
						            </li>
						            <li class="priceRange-btn">
						            	<a id="fc-btn-ok" class="fc-btn-ok" href="javascript:void(0)">确定</a>
						            </li>
						        </ul>
						        <div class="filter-resultSearch-box">
						            <input type="text" value="" class="filter-resultSearch-input" />
						            <a data-code="" href="javascript:void(0)" class="filter-resultSearch-btn">确定</a>
						        </div>
						        <div class="min-pager-box">
						            <a href="javascript:void(0)" class="min-pager-next " id="mp-next">&gt;</a>
						            <a href="javascript:void(0)" class="min-pager-prev mp-disable" id="mp-prev">&lt;</a>
						            <span class="min-pager-number" id="min-pager-number">1/3</span>
						        </div>
						    </div>
						    <div id="filter-bottom" class="filter-bottom">
						        <div class="filter-adress-box">
						            <span class="filter-adress-tit">送至：</span>
						            <span id="address" class="filter-adress-stock">
						                <a id="stockaddress" href="javascript:void(0)" title="">请选择</a>
						                <i class="filter-adress-icon"></i>
						                <em class="space"></em>
						            </span>
						            <div class="gCity clearfix">
						            	<div id="citySelect" class="gctSelect clearfix">
						            		<!-- <a href="javascript:;" id="pct_1" class="cur">
						            			<b>请选择</b>
						            			<i></i>
						            		</a>
						            		<a href="javascript:;" id="pct_2" >
						            			<b>请选择</b>
						            			<i></i>
						            		</a> -->
						            		<a href="javascript:;" id="cityClose" class="close"></a>
						            	</div>
						            	<div id="cityMBox">
						            		<div class="gctBox" id="ctbox_1" style="display: none;">
						            			<span>
						            				<a href="javascript:;" title="北京" id="">北京</a>
						            			</span>
						            			<span>
						            				<a href="javascript:;" title="北京" id="">浙江省</a>
						            			</span>
						            		</div>
						            	</div>
						            </div>
						        </div>
						        <div class="filter-label-box">
						            <a class="gmform-label" id="deliv" data-code="" href=""><i class="iic"></i>国美自营</a>
						            <a class="gmform-label checke" id="instock" data-code="" href=""><i class="iic"></i>仅显示有货</a>
						            <a class="gmform-label" id="discountQiang" data-code="" href=""><i class="iic"></i>真划算</a>
						            <a class="gmform-label" id="discountRebate" data-code="" href=""><i class="iic"></i>返利</a>
						        </div>
						    </div>
						</div>
					</div>
					<div class="product-box">
						<div class="product-waiting" id="product-waiting"></div>
    					<ul class="product-lists clearfix" id="product-box">
    						<script type="text/jsrender" id="contentarea-list">
								<li class="product-item">
								    <ul class="arbitrage clearfix">
						            	<li class="arbitrage-box">{{:istrue}}</li>
						            	{{if istrue == '1'}}
						            		<li id="arbitrage-num-1" class="arbitrage-num arbitrage-cur" style="visibility: visible;">{{>one}}</li>
							            	<li id="arbitrage-num-2" class="arbitrage-num " style="visibility: visible;">{{>two}}</li>
							            	<li id="arbitrage-num-3" class="arbitrage-num " style="visibility: visible;">{{>three}}</li>
						            	{{else}} 
						            		<li id="arbitrage-num-1" class="arbitrage-num arbitrage-cur">{{>one}}</li>
						            		<li id="arbitrage-num-2" class="arbitrage-num ">{{>two}}</li>
							            	<li id="arbitrage-num-3" class="arbitrage-num ">{{>three}}</li>
						        		{{/if}}
						            </ul>
						            <div class="item-tab-warp">
						            	<div id="item-tab-1" class="item-tab asynPriceBox">
							                <p class="item-pic">
							                	<a class="item-link" rel="nofollow" target="_blank" href={{:href}} title={{:title}}>
							                		<img alt={{:alt}} src={{:imgpath}}>
							                	</a>
							                </p>
							                <div class="item-pic-small-box" index="3" curindex="3">
												<div class="item-pic-small-wrap">
													<ul class="imgList">
														<li class="arbitrage-box">{{:isone}}</li>
													{{if isone == '0'}}
														<li id="icon-li-1" class="icon-li" >
															<img src={{:smallimgpath_1}} />
														</li>
														<li id="icon-li-2" class="icon-li" >
															<img src={{:smallimgpath_2}} />
														</li>
														<li id="icon-li-3" class="icon-li" >
															<img src={{:smallimgpath_3}} />
														</li>
													{{else}} 
														<li id="icon-li-1" class="icon-li" >
															<img src={{:smallimgpath_1}} />
														</li>
													{{/if}}
													</ul>
												</div>
							                </div>
							                <div class="item-price-info">
							                    <p class="item-price">
							                        <span class="price asynPrice">{{:price}}</span>
							                        <span class="promotion-normal">返利</span>
							                    </p>
							                </div>
							                <p class="item-name">
							                	<a class="emcodeItem item-link"  href={{:href}} title={{:title}} target="_blank">
							                	{{>title}}
							                	</a>
							                </p>
							                <p class="item-promotional-language">
							                	{{:p}}
							                </p>
							                <p class="item-comment-dispatching">
							                    <span class="dispatching">有货</span>
							                    <a href={{:ahref}} target="_blank" class="comment">{{:data}}</a>
							                </p>
							                <p class="item-option clearfix">
							                    <span class="add-contrast display-page-compare-checkbox"></span>
							                    <span class="add-collection">收藏</span>
							                    <span class="add-cart addTo-cart">加入购物车</span>
							                </p>
						            	</div>
							            <div id="item-tab-2" class="item-tab asynPriceBox" style="display: none">
								                <p class="item-pic">
								                	<a class="item-link" rel="nofollow" target="_blank" href={{:href_1}} title={{:title_1}}>
								                		<img alt={{:alt_1}} src={{:imgpath_1}}>
								                	</a>
								                </p>
								                <div class="item-pic-small-box" index="2" curindex="2">
													<div class="item-pic-small-wrap">
														
													</div>
								                </div>
								                <div class="item-price-info">
								                    <p class="item-price">
								                        <span class="price asynPrice">{{:price_1}}</span>
								                        <span class="promotion-normal">返利</span>
								                    </p>
								                </div>
								                <p class="item-name">
								                	<a class="emcodeItem item-link"  href={{:href_1}} title={{:title_1}} target="_blank">
								                	{{>title_1}}
								                	</a>
								                </p>
								                <p class="item-promotional-language">
								                	{{:p_1}}
								                </p>
								                <p class="item-comment-dispatching">
								                    <span class="dispatching">有货</span>
								                    <a href={{:ahref_1}} target="_blank" class="comment">{{:data_1}}</a>
								                </p>
								                <p class="item-option clearfix">
								                    <span class="add-contrast display-page-compare-checkbox"></span>
								                    <span class="add-collection">收藏</span>
								                    <span class="add-cart addTo-cart">加入购物车</span>
								                </p>						              
							            </div>
							            <div id="item-tab-3" class="item-tab asynPriceBox" style="display: none">
								                <p class="item-pic">
								                	<a class="item-link" rel="nofollow" target="_blank" href={{:href_2}} title={{:title_2}}>
								                		<img alt={{:alt_2}} src={{:imgpath_2}}>
								                	</a>
								                </p>
								                <div class="item-pic-small-box" index="2" curindex="2">
													<div class="item-pic-small-wrap">
														<ul class="imgList"></ul>
													</div>
								                </div>
								                <div class="item-price-info">
								                    <p class="item-price">
								                        <span class="price asynPrice">{{:price_2}}</span>
								                        <span class="promotion-normal">返利</span>
								                    </p>
								                </div>
								                <p class="item-name">
								                	<a class="emcodeItem item-link"  href={{:href_2}} title={{:title_2}} target="_blank">
								                	{{>title_2}}
								                	</a>
								                </p>
								                <p class="item-promotional-language">
								                	{{:p_2}}
								                </p>
								                <p class="item-comment-dispatching">
								                    <span class="dispatching">有货</span>
								                    <a href={{:ahref_2}} target="_blank" class="comment">{{:data_2}}</a>
								                </p>
								                <p class="item-option clearfix">
								                    <span class="add-contrast display-page-compare-checkbox"></span>
								                    <span class="add-collection">收藏</span>
								                    <span class="add-cart addTo-cart">加入购物车</span>
								                </p>				                
							            </div>
						            <p class="item-shop">
						                <span class="nname">国美自营</span>
						            </p>
						        </li>
							</script>
							
    					</ul>
						<div class="clearfix" id="product-pager">
							<div class="pager" id="j-page">
								<div class="prev disable">
									&nbsp;上一页
									<s class="icon-prev"></s>
									<i></i>
								</div>
								<div class="page cur">1</div>
								<div class="page" >2</div>
								<div class="page">3</div>
								<div class="next" >
									下一页
									<s class="icon-next"></s>
									<i></i>
								</div>
								<label for="pagenum" class="txt-wrap">
									到
									<input type="text" id="pNum" class="txt" bnum="3" value="1">
									页
								</label>
								<a href="" class="btn">确定</a>
							</div>
						</div>
					</div>
        		</div>
        	</div>
        </div>
        <!--nSearchWarp-->
        <div class="nSearchWarp">
    		<div id="prdBottom-1">
						<dl class="nSearch-bottomTuiGuang">
							<dt class="hd">
								<i class="dsp-tuiguangIdentifi">广告</i>
								推广商品
							</dt>
							<dd class="bd">
								<ul class="clearfix" id="dsp_bottomTuiGuang">
								<script type="text/jsrender" id="contentarea-tgsp">
									<li class="buy-items">
										<div class="pic">
											<a href={{:href}} target="_blank">
												<img src={{:imgpath}} >
											</a>
										</div>
										<div class="price">
											<span>{{:price}}</span>
										</div>
										<div class="name">
											<a href={{:href}} target="_blank">
											{{:name}}
											</a>
										</div>
										<div class="adver">
											<p>{{:p}}</p>
										</div>
									</li>
								</script>
								</ul>									
							</dd>
						</dl>
			</div>
    	</div>	
    	<div class="zwf-gome-help">
			<ul>
				<li>
					<a data-code="" href="" target="_blank" rel="nofollow">
						<i class="icon-pz"></i>
						品质
					</a>
					<span class="foot-titlt-dot"></span>
					<a href="" class="sec-title">正品行货 购物无忧</a>
				</li>
				<li>
					<a data-code="" href="" target="_blank" rel="nofollow">
						<i class='icon-dj'></i>
						低价
					</a>
					<span class="foot-titlt-dot"></span>
					<a href="" class="sec-title">惠普实价 帮你省钱</a>
				</li>
				<li>
					<a data-code="" href="" target="_blank" rel="nofollow">
						<i class='icon-sd'></i>
						速达
					</a>
					<span class="foot-titlt-dot"></span>
					<a href="" class="sec-title">专业配送 按时按需</a>
				</li>
			</ul>
			<div class="gome-help-box">
				<dl>
					<dt>物流配送</dt>
						<ul>							
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">配送查询</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">配送服务</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">配送费用</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">配送时效</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">签收与验货</a>
							</li>	
						</ul>
				</dl>
				<dl>
					<dt>支付与账户</dt>
						<ul>							
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">货到付款</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">在线支付</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">分析付款</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">门店支付</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">账户安全</a>
							</li>	
						</ul>
				</dl>
				<dl>
					<dt>售后服务</dt>
						<ul>							
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">退换货服务</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">退款说明</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">专业维修</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">延保服务</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">家电回收</a>
							</li>	
						</ul>
				</dl>
				<dl>
					<dt>会员专区</dt>
						<ul>							
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">会员专区</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">优惠券说明</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">美豆说明</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">国美社区</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">商品评价</a>
							</li>	
						</ul>
				</dl>
				<dl>
					<dt>购物帮助</dt>
						<ul>							
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">购物保障</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">购物流程</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">促销优惠</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">焦点问题</a>
							</li>
							<li>
								<a data-code="" href="" target="_blank" rel="nofollow">联系我们</a>
							</li>	
						</ul>
				</dl>
			</div>
	</div>

	<div id="zwf-gome-foot">
		<div id="gome-foot-box">
			<span class="clearfix">
				<i></i>
				<p>
					<strong>门店服务</strong>
					<a rel="nofollow" data-code="" href="" target="_blank">国美门店全国共计2000余家</a>
				</p>
			</span>
			<span class="clearfix ued">
				<i></i>
				<p>
					<strong>用户体验</strong>
					<a rel="nofollow" data-code="" href="" target="_blank">参与用户体验改进计划</a>
					<a rel="nofollow" data-code="" href="" target="_blank">用户反馈</a>
				</p> 
			</span>
			<div class="qrcode-section">
				<em class="code-sm wx">
					<i></i>
					<p>公众号</p>
					<div>
						<img src="img_zwf/triangle.jpeg" />
						<i class="icon-triangle"></i>
					</div>
				</em>
				<em class="code-sm wap">
					<i></i>
					<p>手机站点</p>
					<div>
						<img src="img_zwf/triangle_2.jpeg" />
						<i class="icon-triangle"></i>
					</div>
				</em>
				<em class="code-bg app-plus">
					<i>
						<a data-code="" href="" target="_blank"></a>
					</i>
					<p>扫描下载国美Plus</p>
				</em>
				<em class="code-bg app">
					<i>
						<a data-code="" href="" target="_blank"></a>
					</i>
					<p>扫描下载客户端</p>
				</em>
			</div>
			<ul>
				<li>
					<a data-code="" href="" target="_blank" rel="nofollow">国美集团</a>
				</li>
				<li>
					<a data-code="" href="" target="_blank" rel="nofollow">多边金都</a>
				</li>
				<li>
					<a data-code="" href="" target="_blank" rel="nofollow">国之美</a>
				</li>
				<li>
					<a data-code="" href="" target="_blank" rel="nofollow">关于国美在线</a>
				</li>
				<li>
					<a data-code="" href="" target="_blank" rel="nofollow">加入我们</a>
				</li>
				<li>|</li>
				<li>
					<a data-code="" href="" target="_blank" rel="nofollow">品牌大全</a>
				</li>
				<li>
					<a data-code="" href="" target="_blank" rel="nofollow">商品专题</a>
				</li>
				<li>
					<a data-code="" href="" target="_blank" rel="nofollow">批发大全</a>
				</li>
				<li>
					<a data-code="" href="" target="_blank" rel="nofollow">热词搜索</a>
				</li>
				<li>
					<a data-code="" href="" target="_blank" rel="nofollow">友情链接</a>
				</li>
				<li>
					<a data-code="" href="" target="_blank" rel="nofollow">风险监测</a>
				</li>
				<li>|</li>
				<li>
					<a data-code="" href="" target="_blank" rel="nofollow">销售联盟</a>
				</li>
				<li>
					<a data-code="" href="" target="_blank" rel="nofollow">商家入驻</a>
				</li>

			</ul>
			<p>
				国美在线电子商务有限公司&nbsp;&nbsp;办公地址：上海市嘉定区沪宜公路3163-3199号一楼A区&nbsp;&nbsp;客服电话：40008708708&nbsp;&nbsp;|&nbsp;&nbsp;本公司游戏产品适合18岁以上成年人使用
			</p>
			<p>
				©2000-2017&nbsp;&nbsp;国美在线电子商务有限公司版权所有&nbsp;&nbsp;京公安网备11010502027062&nbsp;&nbsp;沪ICP备11009419号&nbsp;&nbsp;沪B2-20120004号
			</p>
			<div class="gome-foot-credit">
				<a class="credit-baxx" href="" target="_blank" rel="nofollow">
					<i></i>
					<b>经营性网站备案信息</b>
				</a>
				<a class="credit-xypj" href="" target="_blank" rel="nofollow">
					<i></i>
					<b>可信网站信用评价</b>
				</a>
				<a class="credit-cxwz" href="" target="_blank" rel="nofollow">
					<i></i>
					<b>诚信网站</b>
				</a>
				<a class="credit-hdjc" href="" target="_blank" rel="nofollow">
					<i></i>
					<b>朝阳网络警察</b>
				</a>
				<a class="credit-wgdj" href="" target="_blank" rel="nofollow">
					<i></i>
					<b>网购大家评</b>
				</a>
			</div>
			<em class="trust-gome"></em>
		</div>
	</div>
	</body>
	<script src="lib/jquery-3.2.1.js"></script>
	<script src="lib/jsrender.js"></script>
	<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="lib/jsrender.js"></script>
	<script src="lib/jsrender.min.js"></script>
	<script src="js/data.js"></script>
	<script type="text/javascript" src ="js/js_cyl.js"></script>
	<script src="js/js_zwf.js" type="text/javascript"></script>
</html>